@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700')

*
  margin 0
  padding 0
  box-sizing border-box

body
  background url(coverphoto2.jpg) no-repeat center center transparent
  background-size 100%
  font-family 'Source Code Pro', monospace
  .page-title
    font-weight 200
    font-size 80px
    text-align center
    padding 100px
    text-transform uppercase
    color #fff    

.nav 
  background #000
  text-align center

  li
    display inline-block

  a
    display inline-block
    padding 20px
    color #fff
    text-decoration none

    &:hover
      background-color #3AB795
      text-decoration underline
  
.main-content
  background-color: rgba(000,000,000, 0.85)
  margin auto
  height 500px
  max-width 800px
  margin-top 8px
  margin-bottom 8px
  border-radius 10px

  p
    color #fff
    padding 20px
    margin-left 15px
    margin-right 15px
    line-height 1.6
    margin-bottom 1.7em

.footer
  margin 20px auto
  max-width 800px
  border-top 1px solid #111
  padding 20px 0
