doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Evan Shaws page
  body
    ul.nav
      li: a(href='/') Home
      li: a(href='#生徒へ') 生徒へ
      li: a(href='about') About / アバウト
      li: a(href='#contact') Contact 
   
    .main-content
      block content

    .footer
